<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="DBConnectionString" value="Data Source=DESKTOP-146JQ3B;Initial Catalog=SD_Test;Persist Security Info=True;User ID=sa;Password=test;" />
    <add key="DBDataAdapterType" value="MySql.Data.MySqlClient.MySqlDataAdapter, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    <add key="DBConnectionType" value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    <add key="DBDataAdapterType" value="MySql.Data.MySqlClient.MySqlDataAdapter, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
  </appSettings>    
  <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.asp" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.htm" />
                <remove value="default.aspx" />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
